@charset "UTF-8";

#fundoLataMonster {
    height: 40vw;
    width: 40vw;
    top: 70%;
    left: 30%;
}

div#background1 {
    height: 700px;
    
}

div#textoIntordutorio{
    top: 20%;
    left: 70%;

    width: 50%;
    height: 50%;

}

div#textoIntordutorio > p {
    text-align: center;
    font-size: 50px;
}

div#barraNavegacaoLateral.visible {
    right: 0px;
}

div#barraNavegacaoLateral {
    display: none;
}

div#unwraped-logoNavegacao > div#logoNavegacao > a > img.barraLateralAtiva { 
    transform:  skew(-20deg) rotate(-90deg);
    
}

.iconeNavegacaoSuperior {
    display: inline;
    margin-right: -60px;
}

.iconeNavegacaoSuperior > img {
    display: block;
    width: 40%;
}

div#unwraped-logoNavegacao > div#logoNavegacao > a > img {
    max-height: 75%;
    transform:  skew(-20deg) rotate(-90deg);
    transition: transform 0s;
}

div#transiçãoBackground1 > div#fundoBranco {
    margin-top: -5%;
    transform: translate(-40%, 10%) rotate(4deg);
}

div#artigos {
    margin-top: -20px;

    flex-flow: row wrap;
}

div#artigos > h1 {
    text-align: right;
    font-size: 4em;
}

.artigoTemplate {
    min-width: 630px;
    
}