@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    overflow-x: hidden;
}

div#barraPrincipalNavegacao {
    background-color: #D9D9D9;

    float: right;

    display: flex;
    align-items: center;

    margin-bottom: -80px;
    width: 100%;
    height: 70px;

    position: fixed;
}

div#barraPrincipalNavegacao  > img{
    float: left;
    padding-left: 10px;
    
    height: 45px;
}

div#barraDecorativalNavegacao {
    height: 100%;
    width: 20px;
    transform: skew(20deg);
    float: right;
    margin-right: 102px;

    background-color: #4792A9;
}

div#logoNavegacao {
    height: 100%;
    float: right;
    text-align: left;
    width: 100px;
    
    background-color: #A5A4A2;
    background-position: left;
    position: relative;

    display: flex;

    transform: skew(20deg);
    overflow: hidden;

    margin-top: -80px;
    margin-right: 15px;
    align-items: center;
    
}

div#unwraped-logoNavegacao > div#logoNavegacao > a > img{
    max-height: 80%;

    position: fixed;
}

a#linkIconeNavegacao {
    width: 100%;
    height: 100%;
    
    margin-top: 15px;

}

div#unwraped-logoNavegacao {
    background-color: #A5A4A2;
    
    
    width: 50px;
    height: 100%;
    display: block;

    position: absolute;
    right: -100vw;
    top: 0;
    z-index: 3;
    
}

#barraNavegacaoLateral {
    width: 100px;
    background-color: #A5A4A2;
    display: block;
    height: 100vh;

    right: 0px;
    top: 0px;

    position: fixed;
    z-index: 1;

    transition: right 0.5s ease-out;
}

div#barraNavegacaoLateral.visible {
    right: -100px;
}
nav {
    height: 80px;

    position: absolute;
    z-index: 5;
}

main {
    margin-top: 80px;
}

div#blocoFlex01 {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    
}

div#background1 {
    background-image: url('../imagens/BackgroundMonsterEncourtado.png');
    background-size:cover;
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;

    display: block;

    margin-top: -15px;
    height: 375px;
    width: 100%;
}

#fundoLataMonster {
    height: 70vw;
    width: 70vw;

    
    display: flex;
    
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-70%, -60%) rotate(54deg);
    z-index: 999;
}

#fundoLataMonsterInterno {
    height: 100%;
    width: 100%;

    position: absolute;
    border-radius: 40px;
    background-color: #1C2D34;
    box-shadow: 4px 4px 20px 10px #4A727E;
    transition: box-shadow 0.15s ease-out;
}

#fundoLataMonster > div#fundoLataMonsterInterno > img{
    transform: rotate(305deg);
    margin: -30% 10% 10% 18%;
    height: 140%;

    position: relative;
    z-index: 3;
}

div#textoIntordutorio{
    position: absolute;
    border-radius: 5px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, 40%) skew(15deg);
    background-color: #4792A9;

    margin: 5px;
    padding: 20px;

    width: 80%;
    height: 150px;

    text-align: center;
    z-index: 2;

    display: flex;
}

div#textoIntordutorio > p {
    color: white;
    text-shadow: 0.5px 0.5px black;
    
    font-size: 25px;
    line-height: 1.1;

    transform: translate(0px, -10px) skew(-15deg);
}

#transiçãoBackground1{
    position: absolute;
    z-index: 1;
    width: 100%;

    top: 100%;

    
}

div#transiçãoBackground1 > div#fundoBranco {
    background-color: white;
    width: 140%;
    height: 250px;
    transform: translate(-40%, 20%) rotate(10deg);
    position: absolute;

    z-index: 1;
    margin-top: -30%;
    margin-left: -10%;
    padding-left:  10%;
    padding-right: 10%;

    box-shadow: 0px -5px 1px 1px #4792A9;

    top: 50%;
    left: 50%;
}

div#transiçãoBackground1Wrap {
    position: relative;

    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 50px;
    color: black;
    position: relative;
    z-index: 2;

    text-indent: 1em;
}

div#artigos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background-color: red;

    position: relative;
    z-index: 2;

    margin: auto;

    width: 90vw;

}

.artigoTemplate {
    height: 100%;
    width: 100%;

    min-width:300px;
    min-height: 200px;

    max-height: 400px;
    max-width: 400px;

    background-color: lightblue;

    margin: 1% 0px;
}

.imagemArtigoTemplate {
    width: 95%;
    min-height: 150px;
    

    display: flex;
    align-items: center;
    justify-content: center;
    
    justify-self: center;

    margin: 10px;
    margin-bottom: 5px;

    background-color: green;
}

.imagemArtigoTemplate > img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    align-self: stretch;

    object-fit: cover; 
}

#artigo03 > .imagemArtigoTemplate > img {
    object-position: 50% 30% ;
}

#artigo04 > .imagemArtigoTemplate > img {
    object-position: 50% 30% ;
}

#artigo05 > .imagemArtigoTemplate > img {
    object-fit: contain;
}

.artigoTemplate > h2 {
    text-indent: 0.5em;
    padding: 5px;
}


