@charset "UTF-8";

#fundoLataMonster {
    height: 50vw;
    width: 50vw;

    top: 70%;
    left: 40%;
}

div#textoIntordutorio{
    top: 20%;
    left: 70%;

    width: 50%;
    height: 50%;
}

div#transiçãoBackground1 > div#fundoBranco {
    margin-top: -15%;
}

div#artigos {
    margin-top: 30px;
}

div#artigos > h1 {
    text-align: right;
    font-size: 4em;
}

.artigoTemplate {
    min-width: 400px;
}
